@model Payment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<div class="br-pagetitle">
    <div>
        <h4>إضافة فاتورة جديدة</h4>
    </div>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form method="post" asp-action="CreatePayment" asp-controller="Printing" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">المطبعة <span class="tx-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="@Model.User.FullName" readonly>
                                <input type="hidden" asp-for="UserId" />
                            </div>
                        </div><!-- form-group row -->

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">الخزنة <span class="tx-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="totalMoneyDisplay" readonly>
                                <input type="hidden" asp-for="UserId" />
                            </div>
                        </div><!-- form-group row -->

                        <div class="form-group row">
                            <label for="Money" class="col-sm-4 col-form-label">المبلغ: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="Money" name="Money" placeholder="المبلغ" min="0" required>
                                <span asp-validation-for="Money" class="text-danger"></span>
                            </div>
                        </div><!-- form-group row -->

                        <div class="form-group row">
                            <label for="Type" class="col-sm-4 col-form-label">النوع: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="Type" name="Type" onchange="toggleFileInput()">
                                    <option value="1">فوري</option>
                                    <option value="2">كاش</option>
                                    <option value="3">فودافون كاش</option>
                                    <option value="4">اتصالات كاش</option>
                                    <option value="5">فيزا</option>
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                        </div><!-- form-group row -->

                        <div class="form-group row" id="fileInputDiv">
                            <label for="Photo" class="col-sm-4 col-form-label">الصورة: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="file" class="photo form-control-file" id="Photo" name="file" accept="image/*" required>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                        </div><!-- form-group row -->

                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-4">
                                <input type="submit" value="إضافة" class="btn btn-info">
                                <a asp-action="Index" asp-controller="Payment" class="btn btn-secondary">الغاء</a>
                            </div>
                        </div><!-- form-group row -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
<script>
    $('#UserId').change(function () {
        var userId = $(this).val();
        if (userId !== '') {
            $.get('/Payment/GetTotalMoney', { userId: userId }, function (data) {
                $('#totalMoney').text(data);
            });
        } else {
            $('#totalMoney').text('');
        }
    });
</script>
<script>
    function toggleFileInput() {
        var typeSelect = document.getElementById("Type");
        var fileInputDiv = document.getElementById("fileInputDiv");
        var fileInput = document.getElementById("Photo");

        if (typeSelect.value === "2") {
            fileInputDiv.style.display = "none";
            fileInput.removeAttribute("required");
        } else {
            fileInputDiv.style.display = "block";
            fileInput.setAttribute("required", "required");
        }
    }
</script>
<script>
    var totalMoney = @Model.User.TotalMoney ?? 0;

    var totalMoneyDisplay = document.getElementById("totalMoneyDisplay");

    var displayText = "";
    if (totalMoney > 0) {
        displayText = totalMoney + " (مدين)";
    } else if (totalMoney < 0) {
        displayText = Math.abs(totalMoney) + " (دائن)";
    } else {
        displayText = "(فارغة )";
    }
    totalMoneyDisplay.value = displayText;
</script>