@model List<BasstahalakMS.Models.eFile>

<h2>قائمة الملفات</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>اسم الملف</th>
            <th>الوصف</th>
            <th>ملف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.Id</td>
                <td>@file.Name</td>
                <td>@file.Description</td>
                <td>
                    <i class="fas fa-file-word"></i> 
                </td>
            </tr>
        }
    </tbody>
</table>
