@model PdfFile
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Media/Views/Shared/_Layout.cshtml";
}

<div class="br-pagetitle">
    <h3 class="text-info mr-3">إضافة ملف جديدة</h3>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form method="post" asp-action="Upload" asp-controller="PDF" enctype="multipart/form-data">
                         <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">المادة العلمية : <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control" asp-for="BfileId" required>
                                    @foreach (var item in ViewBag.AccMaterials)
                                    {
                                        <option value="@item.BFile.Id">@item.BFile.Name</option>
                                    }
                                </select>

                                <span class="text-danger" asp-validation-for="BfileId"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم الملف: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Name" type="text" class="form-control" placeholder="اسم الملف" required>
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">الوصف: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <textarea asp-for="Description" rows="5" class="form-control">
                                 </textarea>
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row">
                        <label class="col-sm-4 form-control-label">الملف: <span class="tx-danger">*</span></label>
                        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="file" asp-for="pdfFile" accept=".pdf" class="form-control" required>
                                <span class="text-danger" asp-validation-for="pdfFile"></span>
                        </div>
                        </div><!-- row -->
                        <div class="form-layout-footer mg-t-30 text-center">
                            <input type="submit" value="إضافة" onclick="clicked(event)" class="btn btn-info">
                            <a asp-action="Index" asp-controller="PDF" class="btn btn-secondary">الرجوع</a>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
@section scripts {
    <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/lib/sweetalerts/sweetalert.min.js"></script>
}