@using BasstahalakMS.ViewModels
@model EditUserVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}
<div class="br-pagetitle">
    <h3 class="text-info mr-3">تعديل بيانات عضو </h3>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form method="post" asp-action="Edit" asp-controller="MediaUsers" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم العضو: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="FullName" type="text" class="form-control" required>
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم المستخدم: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="UserName" type="text" class="form-control" placeholder="اسم المستخدم" required>
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label"> النوع: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control" asp-for="IsAdmin">
                                    <option value="1">مشرف</option>
                                    <option value="2">ديزاينر</option>
                                    <option value="3">ديزاينر شرح</option>
                                    <option value="4">ديزاينر تدريبات</option>
                                    <option value="5">ديزاينر امتحانات</option>
                                </select>
                                <span class="text-danger" asp-validation-for="IsAdmin"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">  رقم الموبايل: </label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="رقم الموبايل  ">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div><!-- row -->

                        <input type="hidden" asp-for="Id" />
                        <div class="form-layout-footer mg-t-30 text-center">
                            <input type="submit" value="حفظ التعديلات" class="btn btn-info">
                            <a asp-action="Index" class="btn btn-secondary">الرجوع</a>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}