@model IEnumerable<BfileNote>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

@section head {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
}

<div class="br-pagetitle">
    <i class="icon fas fa-light fa-file-word"></i>
    <div class="row">
        <div class="col-lg-8 col-8">
            <h3 class="text-info">العمليات  </h3>
        </div>

         <div class="col-lg-4 col-4">
        <a asp-action="Index" asp-controller="File" class="btn btn-primary">العودة الي القائمة   </a>
        </div>

    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table id="deptsTable" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>اسم الملف</th>
                        <th>اسم الكتاب</th>
                        <th>اسم العضو</th>

                        @*<th>تحميل</th>*@
                        @*<th>تعديل</th>*@
                        <th>الحالة </th>
                        <th>عرض</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BFile.Name</td>
                            <td>@item.BFile.Book.Name</td>
                            <td>@item.User.FullName</td>


                            <td>

                                @if (item.status == 1)
                                {
                                    <span class="text-info">تحت مراجعة المدير  </span>
                                }
                                else if (item.status == 2)
                                {
                                    <span class="text-info">تحت مراجعة الاعداد</span>
                                }
                                else if (item.status == 3)
                                {
                                    <span class="text-info">تحت المراجعة </span>
                                }
                                else if (item.status == 4)
                                {
                                    <span class="text-info">تحت المراجعة </span>
                                }
                                else if (item.status == 5)
                                {
                                    <span class="text-info">تحت مراجعة الاعداد</span>
                                }
                                else if (item.status == 6)
                                {
                                    <span class="text-info">تحت مراجعة المدير  </span>
                                }
                            </td>
                            <td>
                                <a asp-action="ShowFileLogDetails" asp-route-id="@item.Id" class=" btn btn-info">
                                    <i class="fas fa-file-word"></i>
                                </a>
                            </td>
                            

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/lib/table/datatable/datatables.js"></script>
    <script>
        $('#deptsTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "عدد النتائج   _TOTAL_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "بحث...",
                "sLengthMenu": "النتائج :  _MENU_ ",
            },
            "order": [[1, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 20,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


           
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}
